# Local application URL in XAMPP
APP_URL=http://localhost/CP3407

# Database
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=food_delivery

# Stripe test keys
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
